<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DevCode | Aprende a desarrollar aplicaciones web y móvil</title>
	{% load static from staticfiles %}
	<style>
		.ir-clases {
			border: 1px solid #fff;
			border-radius: 2px;
		}
		html {
			background-color: #000;
			background-image:
				linear-gradient(to right, rgba(0,0,0,.65), rgba(0,0,0,0)),
				url('{% static 'img/fondo.jpg' %}');
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			background-repeat: no-repeat;
		}
    </style>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header style="overflow: hidden">
    	<br>
    	<div class="contenedor">
	    	<div id="l-logo">
		    	<a class="logo-title" href="/">
		    		<img class="logo-img" src="{% static 'img/logo-default.png' %}" alt="">
		            <span class="logo-titulo">DevCode</span>
		        </a>
	    	</div>

	    	<nav id="l-menu">
	    		<a class="menu-icon">Cursos</a>
	    		<a class="menu-icon">Login</a>
	    		<a class="menu-icon">Únete</a>
	    	</nav>
	    </div>
    </header>

    <div class="contenedor">
    	<div class="home__container">
    		<section class="home">
				<h1 class="home__titulo">
					Aprende <strong>HTML</strong>, <strong>CSS</strong>, <strong>DJango</strong>, <strong>Android</strong> y más
				</h1>
				<p class="home__descripcion">Conviértete en un experto en desarrollo web y móvil, con clases online disponibles las 24 horas del día.</p>
				<div class="home__botones">
					<a class="home__boton__unete" href="/unete/">Únete a DevCode</a>
					<a class="home__boton__como-funciona" href="/como-funciona/">Cómo funciona</a>
				</div>
			</section>

			<aside class="home__video">
				<a href="//fast.wistia.net/embed/iframe/1uxl0k2eo7?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640] home__video__link">
					<img class="home__video__img" src="https://embed-ssl.wistia.com/deliveries/f96d2caa2f2b309d0e6118cd9573a38237382533.jpg" alt="" />
					<span class="icon-play home__video__play"></span>
				</a>
			</aside>
    	</div>
    </div>

    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
   
</body>
</html>