html{
	background-size : cover;
	-webkit-text-size-adjust : 100%;
}


.home__container{
	display : flex;
	flex-flow : center;
	justify-content : center;
	align-items : center;
	align-content : center;
	margin-top : 10%;
}

.home{
	width : 60%;
	order : 1;
	flex-grow : 2;
}

.home__video {
	width : 40%;
	order : 2;
	flex-grow : 1;
	padding-left : 30px;
}

.home__titulo{
	color : #fff;
	font-size : 32px;
	text-shadow : -1px 1px 1px #000, -2px 2px 2px #000;
}
.home__descripcion{
	color : #fff;
	font-size : 22px;
	text-shadow : -1px 1px 1px #000;
	margin : 1em 0 2em 0;
}

.home__botones{
	margin-top : 2em;
}

.home__boton__unete__menu{
	background : #2e9fff;
	border-radius : 2px;
}
.home__boton__unete__menu a{
	color : #fff !important;
}
.home__boton__unete__menu:hover{
	color : #fff;
}

.home__boton__unete{
	background : #2e9fff;
	border-radius : 2px;
	color : #fff;
	padding : .5em 2em;
	font-size : 18px;
	border-bottom : 2px solid #0d88d3;
}
.home__boton__unete:hover{
	color : #fff;
}

.home__boton__como-funciona{
	background : #8caaba;
	border-radius : 2px;
	color : #fff;
	padding : .5em 2em;
	font-size : 18px;
	border-bottom : 2px solid #7292a0;
	text-align : center;
}
.home__boton__como-funciona:hover{
	color : #fff;
}

.home__video__link{
	position : relative;
	display : block;
}

.home__video__img{
	width : 100%;
	border : 2px solid #fff;
	border-radius : 2px;
	opacity : .9;	
}

.home__video__play{
	color : #fff !important;
	text-transform : uppercase;
	display : block;
	position : absolute;
	width : 150px;
	text-align : center;
	top : 50%;
	left : 50%;
	margin-left : -30px;
	margin-top : -35px;
	/*background :#43d490*/
	padding-left : 5px;
	line-height : 55px;
	text-align : center;
	font-weight : bold;
	font-size : 2.5em;
	border : 3px solid #ffffff;
	width : 60px;
	height : 60px;
	border-radius : 50%;
	transition : 1s ease;
	
}
.home__video__play:hover{
	transform : scale(1.2);
}
	
// Menu
.menu__black{
	background : #fff;
	height : 55px;
	padding : 15px 0;
	border-bottom : 1px solid #e3edf3;
	box-shadow : 2px 2px 4px rgba(0,0,0,0.025);
	position : relative;
	z-index : 1;
}
.menu__black .logo-titulo{
	color : #2D82EA;
}
.menu__black .menu-responsive-li a{
	color : #2D82EA;
}

.body__how-works{
	background : #F6F9FF;
}

.how-works{
	text-align : center;
	margin : 2.5em 0;
	padding : 1em;	
}

.how-works__titulo{
	margin :0 0 1em 0;
	font-weight : normal;
	font-size : 1.5em;
	text-align : center;
}

.how-works__video{
	margin : 0 auto;
	position : relative;
	padding-bottom : 56.25%;
	padding-top : 25px;
	height : 0;
}

.how-works__video img{
	max-width : 650px;
}

.how-works__video iframe{
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}

#l-logo{
	width : 150px;
	float : left;
}

.logo-img{
	height : 20px;
	width : auto;
	vertical-align : middle;
}

.logo-titulo{
	font-size : 18px;
	font-weight : bold;
	line-height : 20px;
	vertical-align : middle;
	color : #ffffff;
}

#l-menu{
	float : right;
}

.menu-icon{
	cursor : pointer;
	color : #ffffff;
	padding: 1em 1em;
}

.menu-responsive{
	background : #ccc;
	display : none;
	position : absolute;
	top : 45px;
	left : 0;
	right : 0; 
	transition : width 1s;
}
.contenedor{
	padding : 2% 9%;
	margin : 0 auto;
}